<div id="<%= dom_id subcategory %>">
  <p>
    <strong>Name:</strong>
    <%= subcategory.name %>
  </p>

  <p>
    <strong>Book category:</strong>
    <%= subcategory.book_category_id %>
  </p>

</div>
