<h1>Editing corporate</h1>

<%= render "form", corporate: @corporate %>

<br>

<div>
  <%= link_to "Show this corporate", @corporate %> |
  <%= link_to "Back to corporates", corporates_path %>
</div>
